<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://localhost:61616"/>
        <property name="userName" value="admin"/>
        <property name="password" value="admin"/>
        <property name="useAsyncSend" value="true"/>
    </bean>

    <bean id="mqConnectionPool" class="org.apache.activemq.pool.PooledConnectionFactory">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="maxConnections" value="100"/>
    </bean>

    <bean id="springConnextionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
        <property name="clientId" value="client_01"/>
        <property name="targetConnectionFactory" ref="mqConnectionPool"/>
    </bean>

    <!--配置生产者-->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="springConnextionFactory"/>
     </bean>

    <bean id="test-queue" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="test-queue"/>
    </bean>



</beans>